<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
    
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
        
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
        
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>
    
          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <h3>Cancel my Account</h3>
        <div class="text-center">
          <%= link_to "Cancel My account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </div>
        <%= link_to "Back", :back, class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>