<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Sign Up</h2>
      </div>
      
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
        
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>
          
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary col-md-12 col-sm-12 col-xs-12" %>
          </div>
        <% end %>
      </div>
      
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    
  </div>
</div>