<div class="edit_page col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Fix pic!</h1>
      </div>
      <div class="panel-body">
        <div class="current_image">
          <strong class="center">
            Right now
            <%= image_tag @pic.image.url(:thumb) %>
          </strong>
        </div>
        <%= render 'form' %>
        <%= link_to "Cancel", pic_path %>
      </div>
    </div>
  </div>
</div>