<div class="col-md-8 col-md-offset-4">
  <div class="transitions-enabled" id="pics">
      <% @pics.each do |pic| %>
        <div class="box panel panel-default">
          <%= link_to (image_tag pic.image.url), pic %>
          <h2><%= link_to pic.title, pic %></h2>
        </div>
      <% end %>
  </div>
</div>