<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Post Pic</h1>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
</div>