<div id="pic_show" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading pic_image">
        <%= image_tag @pic.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <h1><%= @pic.title %></h1>
        <p><%= simple_format(@pic.description) %></p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p>Uploaded by: <%= @pic.user.email %></p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pic_path(@pic), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-thumbs-up"> </span>
                <strong><%= @pic.get_upvotes.size %></strong>
              <% end %>
              <% if current_user %>
                <%= link_to "Back", root_path, class: "btn btn-primary" %>
                <%= link_to "Edit", edit_pic_path, class: "btn btn-info" %>
                <%= link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

