<!DOCTYPE html>
<html>
<head>
  <title>Pedstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav navbar navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Pedstagram", root_path %>
      </div>
      <div class="nav navbar navbar-right secondary-nav">
        <% if current_user %>
          <ul class="nav navbar-nav">
            <li><%= link_to "GramIT", new_pic_path, class: "btn btn-info gramit-btn" %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Join", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <%= render partial: "layouts/flash_message", flash: flash %>
      <%= yield %>
  </div>
</body>
</html>
